[Desktop Entry]
Type=Application
Name=ROBU-RPI-Autostart
Exec=bash -c "/home/robu/work/.robu/autostart/autostart.sh"
StartupNotify=false
Terminal=false

